* {
  box-sizing: border-box;
}
#wrapper{
	width: 90%;
}

input {
  //position: absolute; 
  width: 20%;
  top: 0;
  font-size: 1.2em;
  border: 1px solid #ddd;
  margin-top: 1em;
  margin-left: 2em;
}

button {
	right: 0em;
	height: 1.8em;

}

#list {
  position: absolute; 
  width: 90%;
  top: 3em;
  list-style-type: none;
  margin-top: 2em;
  //display: block;
}

#list li  {
  
  border: 1px solid #ddd;
  margin-top: -1px;
  background-color: #f6f6f6;
  padding: 0.5em;
  text-decoration: none;
  font-size: 1.2em;
  color: black;
  //display: block
}